.tile {
  height: 150px;
  width: 150px;
  background-color: var(--background-color);

  font-size: 100px;
  font-family: "Russo One", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;

  &-X {
    color: var(--primary-color);
  }
  &-O {
    color: var(--secondary-color);
  }

  button {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }
}
